^{:watch-dirs ["src" "test"]
  :css-dirs ["resources/public/"]
  :auto-testing true
  :extra-main-files
  {
   :cards {:main cardtask.devcards}
   :tests {:main cardtask.core-tests}}}
{:main cardtask.core
 :devcards true}
;;{:main cardtask.core :optimizations :none :infer-externs true}
